<%= form_with(model: [@user,@book,note]) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id, class: 'form-label' %>
    <%= form.text_field :book_id, disabled: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', style: "height:250px" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-primary'%>
    <%= link_to 'Back', user_book_notes_path, class: 'btn btn-warning' %>

  </div>
<% end %>