

<h1 class="text-center mt-5 mb-3">Notes from Book: '<%= @book %>'</h1>
<hr>
<% if @notes.length > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <th scope="row"> <%= note.book_id %></th>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', user_book_note_path(@user,@book, note), class: 'btn btn-primary text-white' %></td>
        <td><%= link_to 'HTML', user_book_note_export_path(@user,@book, note), class: 'btn btn-success text-white' %></td>
        <td><%= link_to 'Edit', edit_user_book_note_path(@user,@book, note), class: 'btn btn-secondary text-white' %></td>
        <td><%= link_to 'Destroy', [@user,@book, note], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <h3 class="text-center">You don't have notes in this book. Add one!</h3>
<% end %>
<br>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <%= link_to 'New Note', new_user_book_note_path(@book), class: 'btn btn-primary text-white' %>
        <%= link_to 'Back', user_books_path(@book), class: 'btn btn-warning' %>
    </div>
   

</div>
