<div class="row w-50 mt-4 mx-auto">
<p id="notice"><%= notice %></p>

<h1>
  <strong>Note from Book:</strong>  <%= @note.book %>
</h1>

<hr>
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<div>
    <%= link_to 'Edit', edit_user_book_note_path(@user,@book,@note),class: 'btn btn-primary text-white' %> 
    <%= link_to 'Back', user_book_notes_path,class: 'btn btn-warning text-white' %>
</div>
</div>